<!doctype html>
<html lang="en" data-theme="caramellatte" style="scrollbar-gutter: auto !important;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <link rel="stylesheet"-->
    <!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"-->
    <!--          crossorigin="anonymous">-->
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/cally"></script>
    <script src="/static/js/theme_set.js"></script>
    <script src="/static/js/theme_control.js" defer></script>
    <title>Delay - менеджер задач</title>
    <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
</head>

<body class="">
<header>
    <!-- <nav class="navbar navbar-light bg-dark">-->
    <!--        <a class="navbar-brand" href="/">Наше приложение</a>-->
    <!--        {% if current_user.is_authenticated %}-->
    <!--    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>-->
    <!--{% else %}-->
    <!--    <p>-->
    <!--        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>-->
    <!--        <a class="btn btn-success" href="/login">Войти</a>-->
    <!--    </p>-->
    <!--{% endif %}-->
    <!--    </nav> -->
    <div class="navbar bg-base-300 z-10 fixed shadow-md">
        <div class="flex-1">
            <a href="/" class="font-semibold p-4 text-xl text-primary">Delay</a>
        </div>
        <div class="flex gap-3 items-center">
            <!--        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>-->
            {% if current_user.is_authenticated %}
            {{ current_user.name }}
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar w-10 h-10">
                    <div class="w-full h-full rounded-full ring ring-primary ring-offset-base-300 ring-offset-2">
                        {% if not current_user.avatar %}
                        <div class="flex items-center justify-center w-full h-full bg-base-100">
                            {{ current_user.name[0].upper() }}
                        </div>
                        {% else %}
                        <img src="{{ url_for('user_avatar') }}"/>
                        {% endif %}
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-md dropdown-content bg-base-300 rounded-b-lg z-1 mt-3 p-2 shadow">
                    <li>
                        <button class="cursor-pointer" popovertarget="popover-1"
                                style="anchor-name:--anchor-1">
                            Тема
                        </button>
                        <ul class="dropdown p-3 menu w-min rounded-box bg-base-300 shadow-sm" popover id="popover-1"
                            style="position-anchor:--anchor-1">
                            <li>
                                <input
                                        type="radio"
                                        name="theme-dropdown"
                                        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start text-md"
                                        aria-label="Системная"
                                        value="default"/>
                            </li>
                            <li>
                                <input
                                        type="radio"
                                        name="theme-dropdown"
                                        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                                        aria-label="Карамель"
                                        value="caramellatte"/>
                            </li>
                            <li>
                                <input
                                        type="radio"
                                        name="theme-dropdown"
                                        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                                        aria-label="Сакура"
                                        value="valentine"/>
                            </li>
                            <li>
                                <input
                                        type="radio"
                                        name="theme-dropdown"
                                        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                                        aria-label="Закат"
                                        value="sunset"/>
                            </li>
                            <li>
                                <input
                                        type="radio"
                                        name="theme-dropdown"
                                        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                                        aria-label="Лес"
                                        value="forest"/>
                            </li>
                            <li>
                                <input
                                        type="radio"
                                        name="theme-dropdown"
                                        class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
                                        aria-label="Бизнес"
                                        value="business"/>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/settings">Настройки</a></li>
                    <li><a class="text-error" href="/logout">Выйти</a></li>
                </ul>
            </div>
            {% else %}
            <a class="btn" href="/register">Зарегистрироваться</a>
            <a class="btn btn-neutral" href="/login">Войти</a>
            {% endif %}
        </div>
    </div>
</header>
<!-- Begin page content -->
<div class="flex justify-center py-8 pt-22">
    {% block content %}{% endblock %}
</div>
</body>

</html>