{% extends "base.html" %}

{% block content %}
<div class="absolute inset-0 h-screen flex items-center justify-center">
    <!-- Добавлено justify-center и min-h-screen -->
    <!-- Левая часть: текст и кнопка -->
    <div class="text-center"> <!-- Добавлены ограничения по ширине и padding -->
        <!-- Логотип или иконка -->
        <div class="mb-8">
            <svg class="w-24 h-24 text-base-content mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </div>

        <!-- Заголовок -->
        <h1 class="text-6xl font-bold text-white mb-4">
            Добро пожаловать в <span class="text-base-content">Delay</span>
        </h1>

        <!-- Подзаголовок -->
        <p class="text-xl text-gray-400 mb-8">
            Ваше лучшее решение для управления временем. <br>
            Будьте организованными, оставайтесь продуктивными и достигайте большего с меньшими усилиями.
        </p>

        <!-- Кнопка -->
        <div class="mt-8">
            <a href="/register"
                class="btn text-md btn-xl rounded-xl bg-gradient-to-r from-base-content/80 to-base-content/50 text-white">Начать</a>
        </div>

        <!-- Дополнительный текст или ссылка -->
        <div class="mt-12 text-gray-500">
            <p>Уже есть аккаунт? <a href="/login" class="text-base-content">Войти</a></p>
        </div>
    </div>
</div>
{% endblock %}