{% extends "base.html" %}

{% block content %}
<div class="flex justify-center items-center w-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-6 w-full max-w-md">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="text-center text-2xl/9 font-bold tracking-tight text-content">Вход в аккаунт</h2>
        </div>

        <div class="mt-10 flex w-full">
            <form class="space-y-6 w-full" action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.time_zone(type="hidden") }}
                <div>
                    {{ form.email.label(class="block text-sm/6 font-medium") }}<br>
                    {{ form.email(class="input input-primary w-full", type="email") }}<br>
                    {% for error in form.email.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>

                <div>
                    {{ form.password.label(class="block text-sm/6 font-medium") }}<br>
                    {{ form.password(class="input input-primary w-full", type="password") }}<br>
                    {% for error in form.password.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>

                <div class="flex items-center space-x-2">
                    {{ form.remember_me(class="checkbox checkbox-neutral") }}
                    {{ form.remember_me.label }}
                </div>
                <div>
                    {{ form.submit(type="submit", class="btn btn-primary flex w-full") }}
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div role="alert" class="alert alert-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                         viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                    </svg>
                    <span>{{ message }}</span>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</div>

<script>
    var time = new Date();
    document.getElementById("time_zone").value = Intl.DateTimeFormat().resolvedOptions().timeZone
</script>
{% endblock %}